.widget {
    .widget-icon {
        svg {
            width: 32px;
            height: 32px;
            stroke-width: 1.6;
            color: var(--body-text-color);
        }
    }
}

/* Tag cloud widget */
.tagCloud {
    .tagCloud-tags {
        display: flex;
        flex-wrap: wrap;

        a {
            background: var(--card-background);
            box-shadow: var(--shadow-l1);
            border-radius: 10px;
            padding: 8px 20px;

            color: var(--card-text-color-main);
            margin-bottom: 10px;
            margin-right: 5px;
            font-size: 1.4rem;
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: var(--shadow-l2);
            }
        }
    }
}

/* Archives widget */
.widget.archives {
    .widget-archive--list {
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        background-color: var(--card-background);
    }

    .archives-year {
        &:not(:last-of-type) {
            border-bottom: 1.5px solid var(--card-separator-color);
        }

        a {
            font-size: 1.4rem;
            padding: 18px 25px;
            display: flex;

            span.year {
                flex: 1;
                color: var(--card-text-color-main);
                font-weight: bold;
            }

            span.count {
                color: var(--card-text-color-tertiary);
            }
        }
    }
}

/* categories widget */

.widget.categories {
    .widget-categories--list {
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        background-color: var(--card-background); 
    }

    .category-list-item {
        &:not(:last-of-type) {
            border-bottom: 1.4px solid var(--card-separator-color);
        }

        a {
            font-size: 1.4rem;
            padding: 18px 25px;
            display: flex;
            justify-content: space-between;
            color: var(--card-text-color-main);
}
    span.category-list-count {
        color: var(--card-text-color-tertiary);


        }
    }
}

/* Recent Comment widget */
.widget.recentComment {
    .recent-comment-list {
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        background-color: var(--card-background);
    }

    .recent-comment-list-item {
        display: flex;
        padding: 0 1.25em;
        align-items: center;

        &:not(:last-of-type) {
            border-bottom: 1.4px solid var(--card-separator-color);
        }
    }

    .recent-comment-card {
        flex: 1;
        width: 0;
        padding: 20px 10px !important;

        p {
            font-size: .8em;
            margin-top: 3px;
            margin-bottom: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--card-text-color-secondary);
        }
    }

    .recent-comment-avatar {
        width: 3rem;
        border-radius: 50%;
    }

    .recent-comment-nick {
        font-size: .875em;
        color: var(--card-text-color-main);
    }

    .recent-comment-time {
        font-size: .75em;
        color: var(--card-text-color-tertiary);
    }

    .vemoji,
    .wl-emoji {
        height: 1.25em;
        margin: -0.2em .1em;
    }
}
