<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{- partial "head/head.html" . -}}
        {{- block "head" . -}}{{ end }}
    </head>
    <body class="{{ block `body-class` . }}{{ end }}">
        {{- partial "head/colorScheme" . -}}
        <div class="container main-container flex {{ block `container-class` . }}on-phone--column {{ if .Site.Params.widgets.enabled }}extended{{ else }}compact{{ end }}{{ end }}">
            {{- block "left-sidebar" . -}}
                {{ partial "sidebar/left.html" . }}
            {{- end -}}
            <main class="main full-width">
                {{- block "main" . }}{{- end }}
            </main>
            {{- block "right-sidebar" . -}}{{ end }}
        </div>
        {{ partial "footer/include.html" . }}
        <button type="button" class="btn" onclick="smoothScrollTop()" id="goTopBtn" title="Go to top">{{ T "article.top" }}</button>
    </body>
    <script>
        // When the user scrolls down 50px from the top of the document, show the button
        window.onscroll = function() {scrollTopButton()};

        function scrollTopButton() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            document.getElementById("goTopBtn").style.display = "block";
        } else {
            document.getElementById("goTopBtn").style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function scrollTop() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        //Smooth scroll to the top of the document
        function smoothScrollTop(){
            var timer  = null;
            cancelAnimationFrame(timer);
            timer = requestAnimationFrame(function fn(){
                var oTop = document.body.scrollTop || document.documentElement.scrollTop;
                if(oTop > 0){
                    document.body.scrollTop = document.documentElement.scrollTop = oTop - 50;
                    timer = requestAnimationFrame(fn);
                }else{
                    cancelAnimationFrame(timer);
                }
            });
        }
    </script>
</html>
