<!-- {{ if gt .Paginator.TotalPages 1 }}
    <nav class='pagination'>
        {{ $.Scratch.Set "hasPrevDots" false }}
        {{ $.Scratch.Set "hasNextDots" false }}

        {{ range .Paginator.Pagers }}
            {{ if eq . $.Paginator }}
                <span class='page-link current'>
                    {{- .PageNumber -}}
                </span>
                {{ else if or (or (eq . $.Paginator.First) (eq . $.Paginator.Prev)) (or  (eq . $.Paginator.Next) (eq . $.Paginator.Last )) }}
                    <a class='page-link' href='{{ .URL }}'>
                        {{- .PageNumber -}}
                    </a>
                {{ else }}
                    {{ if and (not ($.Scratch.Get "hasPrevDots")) (lt .PageNumber $.Paginator.PageNumber)  }}
                        {{ $.Scratch.Set "hasPrevDots" true }}
                        <span class='page-link dots'>&hellip;</span>
                    {{ else if and (not ($.Scratch.Get "hasNextDots")) (gt .PageNumber $.Paginator.PageNumber) }}
                        {{ $.Scratch.Set "hasNextDots" true }}
                        <span class='page-link dots'>&hellip;</span>
                    {{ end }}
                {{ end }}
            {{ end }}
    </nav>
{{ end }} -->

{{ if gt $totalPages 1 }}
<nav class="pagination">
  {{ $.Scratch.Set "hasPrevDots" false }}
  {{ $.Scratch.Set "hasNextDots" false }}

  <!-- 上一页 -->
  {{ if gt $currentPage 1 }}
    <a class="page-link" href="{{ .Site.BaseURL }}page/{{ sub $currentPage 1 }}/">{{ T "pagination.prev" }}</a>
  {{ end }}

  <!-- 页面编号 -->
  {{ range $i := seq $totalPages }}
    {{ $pageNum := add $i 1 }}
    {{ if eq $pageNum $currentPage }}
      <span class="page-link current">{{ $pageNum }}</span>
    {{ else if or (eq $pageNum 1) (eq $pageNum $totalPages) (eq $pageNum (sub $currentPage 1)) (eq $pageNum (add $currentPage 1)) }}
      <!-- 显示第一页、最后一页、当前页的上下页 -->
      <a class="page-link" href="{{ $.Site.BaseURL }}page/{{ $pageNum }}/">{{ $pageNum }}</a>
    {{ else }}
      <!-- 显示省略号 -->
      {{ if and (not ($.Scratch.Get "hasPrevDots")) (lt $pageNum $currentPage) }}
        {{ $.Scratch.Set "hasPrevDots" true }}
        <span class="page-link dots">&hellip;</span>
      {{ else if and (not ($.Scratch.Get "hasNextDots")) (gt $pageNum $currentPage) }}
        {{ $.Scratch.Set "hasNextDots" true }}
        <span class="page-link dots">&hellip;</span>
      {{ end }}
    {{ end }}
  {{ end }}

  <!-- 下一页 -->
  {{ if lt $currentPage $totalPages }}
    <a class="page-link" href="{{ .Site.BaseURL }}page/{{ add $currentPage 1 }}/">{{ T "pagination.next" }}</a>
  {{ end }}
</nav>
{{ end }}