<div class="post-reward" data-html2canvas-ignore>
  <input type="checkbox" name="reward" id="reward" hidden />
  <label class="reward-button" for="reward">赞赏支持</label>
  <div class="qr-code">
    {{ if .Site.Params.Reward.wechat }}
    <label class="qr-code-image" for="reward">
      <img class="image" src="{{ .Site.Params.Reward.wechat }}" alt="wechat">
      <span>微信打赏</span>
    </label>
    {{ end }}
    {{ if .Site.Params.Reward.alipay }}
    <label class="qr-code-image" for="reward">
      <img class="image" src="{{ .Site.Params.Reward.alipay }}" alt="alipay">
      <span>支付宝打赏</span>
    </label>
    {{ end }}
    {{ if .Site.Params.Reward.paypal }}
    <label class="qr-code-image" for="reward">
      <a href="{{ .Site.Params.Reward.paypal }}" target="_blank"><span>Click this to PayPal</span></a>
    </label>
    {{ end }}
  </div>
</div>
